<div class="incomeExpenses p-5 w-100">
    <h1 class="mb-5 fw-semibold">Доходы и расходы</h1>
    <div class="d-flex flex-column gap-3">
        <div class="d-flex column-gap-2">
            <a id="create-income" type="button" class="btn btn-success">Создать доход</a>
            <a id="create-expenses" type="button" class="btn btn-danger">Создать расход</a>
        </div>
        <div class="d-flex align-items-center column-gap-4 mt-3">
            <button id="today-button" type="button" class="btn btn-common btn-secondary fw-semibold">Сегодня</button>
            <button id="week-button" type="button" class="btn btn-common btn-outline-secondary fw-semibold">Неделя</button>
            <button id="month-button" type="button" class="btn btn-common btn-outline-secondary fw-semibold">Месяц</button>
            <button id="year-button" type="button" class="btn btn-common btn-outline-secondary fw-semibold">Год</button>
            <button id="all-button" type="button" class="btn btn-common btn-outline-secondary fw-semibold">Все</button>
            <button id="interval-button" type="button" class="btn btn-common btn-outline-secondary fw-semibold">Интервал</button>
            <div class="fw-semibold text-dark">c</div>
            <div class="border-bottom border-secondary">
                <input id="date-from" class="fw-semibold text-secondary" placeholder="Дата" type="text"
                       onfocus="this.type='date'" onblur="if(this.value==''){this.type='text'}">
            </div>
            <div class="fw-semibold text-dark">по</div>
            <div class="border-bottom border-secondary">
                <input id="date-to" class="fw-semibold text-secondary" placeholder="Дата" type="text"
                       onfocus="this.type='date'" onblur="if(this.value==''){this.type='text'}">
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr class="text-center">
                    <th scope="col">№ операции</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="table-tbody" class="text-center">
<!--                <tr>-->
<!--                    <th scope="row">1</th>-->
<!--                    <td class="text-success">доход</td>-->
<!--                    <td>зарплата</td>-->
<!--                    <td>500$</td>-->
<!--                    <td>11.09.2022</td>-->
<!--                    <td></td>-->
<!--                    <td>-->
<!--                        <a href="#">-->
<!--                            <img role="button" src="images/trash.png" alt="Удалить">-->
<!--                        </a>-->
<!--                        <a href="#/editIncomeExpenses">-->
<!--                            <img role="button" src="images/pen.png" alt="Редактировать">-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="pop-for-delete" class="modal d-none justify-content-center align-items-center" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body pt-4 pb-1">
                <p class="text-center fw-semibold">Вы действительно хотите удалить операцию?</p>
            </div>
            <div class="modal-footer justify-content-center pt-1 pb-4">
                <button id="do-delete" type="button" class="btn btn-success" data-bs-dismiss="modal">Да, удалить</button>
                <button id="do-not-delete" type="button" class="btn btn-danger">Не удалять</button>
            </div>
        </div>
    </div>
</div>
